/*乘客信息*/
.orderCustomerInfo,.orderDetailsBody,.orderList{
	width: 100%;
	border: 1px solid #979797;
	margin-bottom: 36px;
	/*border-width: 1px 0 1px 0;
	border-color: #979797;
	border-style: solid;*/
}
.orderDetailsTittle,.orderCustomerTittle,.orderListTittle{
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	line-height: 40px;
	/*font-family: PingFangSC-Medium;*/
	font-size: 15px;
	color: #4A4A4A;
	padding-left:27px;
	background-color: #f3f3f3;
	font-weight: bold;
}
.orderListTittle{
	padding-left: 22px;
}
.passengerBarLi,.passengerLiDiv{
	text-align:center;
	height: 30px;
	line-height: 30px;
	/*font-family: PingFangSC-Medium;*/
	font-size: 13px;
	color: #4A4A4A;
}
.passengerList{
	margin-bottom: 11px;
}
/*继续预订弹窗*/
.GoOnBookPop,.onlinePayPop{
	width: 600px;
	height: 250px;
	background-color: #fff;
	z-index: 101;
	position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    border-radius: 8px;
}
.GoOnBookTittle,.onlinePayTittle{
	width: 100%;
	height: 20px;
	position: relative;
	border-radius: 8px 8px 0 0;
}
.GoOnBookTittle{
	background-color: #f3f3f3;
}
.closeGoOnBookIcon,.closeOnlinePayIcon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 0;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	cursor: pointer;
}
.bookRemind,.onlinePayRemind{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}
.continueUl,.onlinePayUl{
	width: 600px;
	height: 180px;
	margin: 0 auto;
}
.continueLi,.onlinePayLi{
	width: 200px;
	height: 180px;
	box-sizing: border-box;
	padding: 20px 50px;
}
.continueLiImg,.onlinePayImg{
	width: 70px;
    height: 70px;
    background-size: 100% 100%;
    margin: 15px;
    cursor: pointer;
}
/*在线支付*/
.yeePayImg{
	background-image: url('../../orders/images/yeePayImg.png');
}
.alipayImg{
	background-image: url('../../orders/images/alipayImg.png');
}
.wechatImg{
	background-image: url('../../orders/images/wechatImg.png');
}
/*继续预订图片*/
.airImg{
	background-image: url('../../bookFinished/images/air.png');
}
.hotelImg{
	background-image: url('../../bookFinished/images/hotel.png');
}
.trainImg{
	background-image: url('../../bookFinished/images/rail.png');
}
.continueLiText,.onlineLiText{
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}
/*订单详情*/
.addTripBody{
	width: 100%;
	box-sizing: border-box;
	padding-left: 27px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #4A4A4A;
	position: relative;
}
.addTripBtn{
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border-radius: 8px;
	position: absolute;
	top: 10px;
	right: 30px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.orderList{
	width: 1190px;
	margin-left: 5px;
}
.purchaseRemind{
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	padding-left: 27px;
	line-height: 40px;
	font-size: 13px;
}
.purchaseCheck{
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	padding-left: 27px;
	line-height: 40px;
	font-size: 13px;
	font-weight: bold;
}
.purchaseCheckbox{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 0 5px 2px 0;
}
.startOverBtn{
	width: 120px;
	height: 30px;
	border-radius: 8px;
	border:1px solid #3083FB;
}
.startOverBtn,.purchaseTripBtn{
	width: 120px;
	height: 30px;
	border-radius: 8px;
	border:1px solid #3083FB;
	box-sizing: border-box;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.startOverBtn{
	margin: 10px 0 20px 910px;
	color: #3083fb;
}
.purchaseTripBtn{
	margin: 10px 0 20px 20px;
	color: #fff;
	background-color: #3083FB;
}
/*gkbooking弹窗*/
.GKbookingPop,.combineOrderPop{
	width: 600px;
	min-height: 250px;
	background-color: #fff;
	z-index: 101;
	position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    border-radius: 8px;
}
.GKbookingTittle,.combineOrderTittle{
	width: 100%;
	height: 20px;
	position: relative;
	border-radius: 8px 8px 0 0;
}
.closeGKbookingIcon,.closeCombineOrderIcon{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 0;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	cursor: pointer;
}
.GKbookingBody,.combineOrderBody{
	width: 100%;
	min-height: 170px;
	position: relative;
}
.remindIcon{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50px;
	top: 20px;
	background-image: url("../../orders/images/remindIcon.png");
	background-size: 100% 100%;
}
.GKRemindText,.combineRemindText{
	width: 440px;
	height: 50px;
	font-size: 14px;
	line-height: 25px;
	position: absolute;
	top: 20px;
	left: 110px;
}
.GKRemarkSelect,.combineOrderSelect{
	width: 440px;
	height: 35px;
	position: absolute;
	left: 80px;
	top: 100px;
	border-radius: 10px;
	outline: none;
}
.GKbookingBodyTittle{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
}
.GKHotelTittle{
	width: 400px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin:6px 0 0 100px;
}
.GKHotelHalfTittle{
	width: 75px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-top: 16px;
	box-sizing: border-box;
	padding-left: 6px;
}
.GKCityInput,.GKHotelInput,.GKAddressInput{
	width: 400px;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	border: 1px solid #9b9b9b;
	border-radius: 8px;
	margin-left: 100px;
	margin-top: 6px;
}
.GKCheckInInput,.GKCheckOutInput{
	width: 115px;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	border: 1px solid #9b9b9b;
	border-radius: 8px;
	margin-left: 10px;
	margin-top: 16px;
}
.searchGkBtn{
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	margin: 16px 0 16px 350px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.searchGkList{
	width: 100%;
	height: 160px;
	box-sizing: border-box;
	padding: 0 100px 0 100px;
	background-color: rgba(242,242,242,1);
	margin-bottom: 10px;
}
.GKHotelLi{
	width: 100%;
	height: 30PX;
	line-height: 30PX;
	font-size: 14px;
}
.GKHotelRadio{
	width: 16px;
	height: 16px;
	margin: 5px 10px 0 5px;
	cursor: pointer;
}
.GKbookingFooter,.combineOrderFooter{
	width: 100%;
	height: 60px;
}
.closeGKBookingBtn,.sureGKBookingBtn,.closeCombineBtn,.sureCombineBtn{
	width: 120px;
	height: 35px;
	background-color: #979797;
	border-radius: 5px;
	margin-left: 115px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	line-height:35px;
	margin-top: 12px;
	cursor: pointer;
}
.sureGKBookingBtn,.sureCombineBtn{
	background-color: #3083FB;
}
/*备注信息*/
.remarkPop{
	width: 592px;
	height: 444px;
	background-color: #fff;
	z-index: 101;
	position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    /*border-radius: 8px;*/
}
.businessTripTittle,.remarkInfoTittle{
	width: 100%;
	height: 25px;
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 25px;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #222;
}
.businessTripBody{
	width: 100%;
	min-height: 40px;
}
.businessTripLi{
	width: 100%;
	height: 40px;
}
.tripLiTittle{
	width: 160px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 20px;
}
.companyRemindTittle{
	text-align: center;
	height: 40px;
	line-height: 40px;
	/*font-family: PingFangSC-Semibold;*/
	font-size: 14px;
	color: #3083FB;
}
.companyRemindText{
	/*font-family: PingFangSC-Regular;*/
	font-size: 13px;
	color: #4A4A4A;
	line-height: 18px;
	width: 200px;
	margin-left: 196px;
	margin-bottom: 10px;
}
.employeeName{
	width: 375px;
	height: 28px;
	box-sizing: border-box;
	padding-left: 105px;
	margin-top: 6px;
	line-height: 28px;
	font-size: 14px;
	/*border: 1px solid #979797;*/
}
.chooseCompany{
	width: 375px;
	height: 28px;
	box-sizing: border-box;
	padding-left: 100px;
	outline:none;
	margin-top: 6px;
	border: 1px solid #979797;
	font-size: 14px;
}
.remarkInfoBody{
	width: 100%;
	height: 252px;
	/*padding-bottom: 10px;
	border-bottom: 1px solid #f3f3f3;*/
}
.remarkLi{
	width: 100%;
	height: 28px;
	line-height: 28px;
	color: #4A4A4A;
	border-bottom: 1px solid #979797;
	/*font-family: PingFangSC-Regular;*/
}
.liTittle{
	width: 249px;
	height: 28px;
	border-right: 1px solid #979797;
	box-sizing: border-box;
	padding-left: 20px;
	font-size: 15px;
}
.colorRed{
	color: #222;
}
.liContent{
	width: 295px;
	height: 28px;
	box-sizing: border-box;
	padding-left: 20px;
	position: relative;
}
.remarkSelect{
	width: 275px;
	height: 25px;
	border: 0;
	outline:none;
	position: absolute;
}
.remarkLiInput{
	width: 260px;
	height: 26px;
	border: 0;
	position: absolute;
	left: 20px;
	top: 1px;
	z-index: 200;
	outline:none;
}
.remarkFooter{
	width: 100%;
	height: 70px;
	border-top: 1px solid #979797;
}
.sureRemarkBtn,.closeRemarkBtn{
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	background: #3083FB;
	border-radius: 4px;
	color: #fff;
	position: relative;
	top: 20px;
	cursor: pointer;
}
.closeRemarkBtn{
	background-color: #9b9b9b;
}
/*订单详情*/
.OrderFare{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: right;
	box-sizing: border-box;
	padding-right: 30px;
}
.segmentList,.trainList,.hotelList{
	margin-bottom: 20px;
}
.segmentLi,.trainLi,.hotelLi{
	border-bottom: 1px solid #c2c2c2;
}
.segmentLiTittle,.trainLiTittle,.hotelLiTittle{
	width: 100%;
	min-height: 44px;
	border-bottom: 1px dashed #979797;
	line-height: 44px;
	font-size: 13px;
}
.segmentDetailsList,.trainDetailsList,.hotelDetailsList{
	width: 100%;
	min-height: 123px;
}
.segmentDetailsLi,.trainDetailsLi{
	min-height: 123px;
	position: relative;
}
.segmentAirLine,.trainType{
	position: absolute;
	left: 29px;
	top: 20px;
	height: 25px;
	line-height: 25px;
	min-width: 90px;
	/*font-family: Arial-Black;*/
	font-size: 14px;
	color: #4A4A4A;
	font-weight: bold;
}
.segmentAirLine{
	position: absolute;
    left: 95px;
    top: 41px;
    height: 25px;
    line-height: 25px;
    width: 165px;
    /*font-family: Arial-Black;*/
    font-size: 12px;
    color: #4A4A4A;
    font-weight: bold;
}
.segmentDepartDate{
	position: absolute;
	left: 29px;
	top: 15px;
	height: 17px;
	line-height: 17px;
	min-width: 90px;
	/*font-family: Arial-Black;*/
	font-size: 14px;
	color: #000;
}
.segmentDepartTime,.trainDepartTime{
	position: absolute;
	left: 490px;
	top: 19px;
	height: 26px;
	line-height: 26px;
	width: 65px;
	/*font-family: Arial-Black;*/
	font-size: 21px;
	color: #000;
	font-weight: bold;
}
.segmentArrow{
	width: 77px;
	height: 12px;
	position: absolute;
	left: 555px;
	top: 25px;
	background-image: url('../../css/images/orderArrow.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.segmentArriveTime,.trainArriveTime{
	position: absolute;
	left: 640px;
	top: 19px;
	height: 26px;
	line-height: 26px;
	width: 65px;
	/*font-family: Arial-Black;*/
	font-size: 21px;
	color: #000;
	font-weight: bold;
}
.segmentDay{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 580px;
	top: 10px;
	font-size: 12px;
}
.segmentDepartAirport,.trainDepart{
	position: absolute;
	right: 648px;
	top: 45px;
	height: 18px;
	line-height: 18px;
	width: 280px;
	/*font-family: PingFangSC-Regular;*/
	font-size: 13px;
	color: #404040;
	text-align: right;
}
.segmentArriveAirport,.trainArrive{
	position: absolute;
	left: 640px;
	top: 45px;
	height: 18px;
	line-height: 18px;
	/*font-family: PingFangSC-Regular;*/
	font-size: 13px;
	color: #404040;
	width: 350px;
}
.segmentDurnturn,.trainDurnturn{
	/*font-family: PingFangSC-Regular;*/
	font-size: 13px;
	color: #838183;
	position: absolute;
	left: 735px;
	top: 22px;
	height: 20px;
	line-height: 20px;
	min-width: 100px;
}
.segmentSelectSeat{
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.segmentSeatInfo{
	width: 100px;
	height: 17px;
	line-height: 17px;
	/* border-radius: 8px; */
	/* position: absolute; */
	/* top: 30px; */
	/* right: 30px; */
	/* text-align: center; */
	font-size: 12px;
	cursor: pointer;
	text-decoration: underline;
	margin-left: 20px;
	color: #3083FB;
}
.segmentSeat{
	/*width: 140px;
	min-height: 25px;
	max-height: 100px;
	line-height: 25px;
	border-radius: 8px;
	position: absolute;
	top: 15px;
	right: 70px;
	text-align: left;
	font-size: 13px;*/
	min-width: 140px;
	height: 17px;
	line-height: 17px;
	margin-left: 20px;
	/*position: absolute;
	top: 75px;
	left: 710px;*/
	text-align: left;
	font-size: 12px;
	color: #838183;
}
.segmentFlightNo,.trainCode{
	position: absolute;
	left: 29px;
	top: 45px;
	height: 17px;
	line-height: 17px;
	min-width: 60px;
	/*font-family: Arial-Black;*/
	font-size: 12px;
	color: #4A4A4A;
	font-weight: bold;
}
.segmentCabin,.trainSeat{
	/*font-family: PingFangSC-Regular;*/
	font-size: 12px;
	color: #838183;
	position: absolute;
	left: 29px;
	top: 85px;
	height: 17px;
	line-height: 17px;
	min-width: 100px;
}
.segmentCabin{
	top: 75px;
}
.segmentCraft{
	/*font-family: PingFangSC-Regular;*/
	font-size: 12px;
	color: #838183;
	position: absolute;
	left: 165px;
	top: 75px;
	height: 17px;
	line-height: 17px;
	min-width: 100px;
}
.segmentMeal{
	/*font-family: PingFangSC-Regular;*/
	font-size: 12px;
	color: #838183;
	position: absolute;
	left: 240px;
	top: 75px;
	height: 17px;
	line-height: 17px;
	min-width: 100px;
}
.segmentRebooking{
	border-top: 1px dashed #c2c2c2;
	padding-top: 10px;
}
.segmentRebooking,.segmentRefund,.segmentRes{
	width: 100%;
	font-size: 12px;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 20px;
	min-height: 20px;
	line-height: 20px;
	color: #838183;
}
.segmentRes{
	margin-bottom: 10px;
}
.hotelDetailsLi{
	min-height: 170px;
	position: relative;
}
.hotelName{
	/*position: absolute;*/
	height: 30px;
	line-height: 30px;
	/*top: 10px;
	left: 29px;*/
	margin:10px 0 0 29px;
	font-size: 22px;
	color: #4a4a4a;
}
.hotelLastTime{
	min-width: 90px;
	height: 25px;
	line-height: 25px;
	/*position: absolute;
	left: 29px;
	top: 40px;*/
	margin-left: 29px;
	font-size: 14px;
}
.lastTimeIcon{
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background-color: #9b9b9b;
	margin: 4px 5px 0 0;
}
.hotelCancelPolicy,.hotelAddress,.hotelRoomName,.hotelBedName,.hotelBreakfast,.hotelPayType,.hotelLastArriveTime,.hotelInfo,.CabinCustomerName{
	/*position: absolute;
    left: 29px;*/
    width: 550px;
    /* height: 25px; */
    min-height: 25px;
    /* margin-left: 29px; */
	padding-left: 29px;
    line-height: 25px;
    /*min-width: 90px;*/
    /*font-family: Arial-Black;*/
    font-size: 14px;
    color: #4A4A4A;
}
.hotelCancelPolicy{
	width: 100%;
	box-sizing: border-box;
}
/*机票选择弹窗*/
.selectSeatPop{
	width: 1000px;
	height: 720px;
	background-color: #fff;
	z-index: 101;
	position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
}
.customerContent{
	width: 300px;
	height: 610px;
	margin: 20px 10px 10px 20px;
	background-color: #e4e4e4;
	border-radius: 10px;
	border: 1px solid #9b9b9b;
}
.seatContent{
	width: 650px;
	height: 610px;
	margin-top: 20px;
	border: 1px solid #9b9b9b;
	border-radius: 10px;
}
.seatCustomerTittle{
	width: 100%;
	height: 80px;
	border-radius: 10px 10px 0 0;
	color: #fff;
	line-height: 40px;
	box-sizing: border-box;
	padding-left: 30px;
	font-size: 15px;
}
.seatCustomerList{
	width: 100%;
	height: 530px;
}
.seatCustomerLi{
	width: 100%;
	height: 60px;
	background-color: #fff;
	line-height: 60px;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 70px;
	border-bottom: 1px solid #9b9b9b;
	cursor: pointer;
	position: relative;
}
.seatCustomerLiActive{
	background-color: #3083FB;
}
.seatContentTittle{
	width: 100%;
	height: 80px;
	background-color: #e4e4e4;
	border-radius: 10px 10px 0 0;
}
.cancelSeatBtn,.confirmSeatBtn{
	width: 120px;
	height: 30px;
	line-height: 30px;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	margin: 20px 0 0 25%;
	cursor: pointer;
}
.seatIcon1,.seatIcon2,.seatIcon3,.seatIcon4{
	width: 28px;
	height: 28px;
	background-size: 100%;
}
.seatIcon1{
	background-image: url('../../orders/images/seatIcon1.png');
}
.seatIcon2{
	background-image: url('../../orders/images/seatIcon2.png');
}
.seatIcon3{
	background-image: url('../../orders/images/seatIcon3.png');
}
.seatIcon4{
	background-image: url('../../orders/images/seatIcon4.png');
}
.seatContentBody{
	width: 650px;
	height: 530px;
	position: relative;
}
.seatContentBodyTittle{
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
}
#seatScroll{
	width: 650px;
	height: 500px;
	position: absolute;
	top: 30px;
	left: 0;
}
.seatContentBodyContent{
	height: 500px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.columnsField{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.seatInfo{
	width: 60px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.seatInfo .seatIcon1{
	cursor: pointer;
}
.seatContentBodyContentLi{
	width: 100%;
	height: 50px;
}

/* 火车占座样式 */
#coverTrain,#cancelTrain,#coverInter{
				position: fixed;
				top: 0;bottom: 0;
				left: 0;right: 0;
				background-color: rgba(0,0,0,0.3);
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 21;/* 要大于页头pageHeader*/
			}
			.l{
				float: left;
			}
			.r{
				float: right;
			}
			.clearfix::after{
				content: "";
				display: block;
				clear:both;
			}
			
			
			/* 弹窗样式 */
			.trainFix,.interFix{
				background-color: #FFFFFF;
				min-width: 910px;
				max-width: 910px;
				padding: 30px;
				box-sizing: border-box;
				border-radius:10px;
				position: relative;
			}
			.interFix{
				min-width: 736px;
				max-width: 736px;
			}
			.cancelFix{
				min-width: 520px;
				max-width: 520px;
			}
			.trainTitle,.interTitle{
				width:100%;
				height:40px;
				/* font-size:28px; */
				font-size: 26px;
				/* 统一26px */
				font-weight:600;
				color:#333333;
				line-height:40px;	
			}
			.infoGroupList {
				    max-height: 260px;
				    overflow-y: auto;
			}
			.infoGroup{
				background-color: #EFEFEF;
				padding: 18px 0;
				position: relative;
				margin-bottom: 10px;
				font-size: 14px;
				color: #333333;
			}
			.trainTips,.interTips{
				/* height:20px; */
				font-size:14px;
				font-weight:400;
				color:#666666;
				line-height:20px;
				margin-top: 4px;
			}
			.interTips{
				height: 90px;
				line-height: 21px;
				font-size:15px;
				overflow-y: scroll;
				border-top: 1px solid #E6E6E6;
				border-bottom: 1px solid #E6E6E6;
			}
			.interTips p{
				margin:12px 0
			}
			.trainInfoLeft{
				border-right: 1px solid #CCCCCC;
				width: 640px;
				padding-left: 12px;
				box-sizing: border-box;
			}
			.timeNum{
				color: #3083FB;
			}
			.rightArrow{
				height: 12px;
				width: 100%;
				background-image: url("./../../css/images/orderArrow.png");
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center bottom;
			}
			.trainInfo{
				height:28px;
				font-size:20px;
				font-weight:600;
				color:rgba(51,51,51,1);
				line-height:28px;
				    padding-top: 20px;
				    padding-bottom: 8px;
			}
			.trainInfoRight{
				width: 209px;
				position: absolute;
				right: 0;
				top: 0;bottom: 0;
				line-height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.pdr20{
				padding-right: 20px;
			}
			.payBtnGroup{
				padding-top: 30px;
				text-align: center;
			}
			.closeTrainBtn{
				position: absolute;
				display: block;
				top: 28px;
				right: 28px;
				font-size: 16px;
				cursor: pointer;
			}
			.paybtn,.cancelConfirm,.closeTips{
				width:200px;
				text-align: center;
				height:36px;
				line-height: 36px;
				color: #FFFFFF;
				background:rgba(48,131,251,1);
				border-radius:4px;
				margin: 0 auto;
				cursor: pointer;
				display: inline-block;
			}
			.cancelbtn,.cancelBack,.cancelSuccess,.cancelError{
				width:200px;
				text-align: center;
				height:36px;
				line-height: 36px;
				background-color: #FFFFFF;
				color:rgba(48,131,251,1);
				border: 1px solid rgba(48,131,251,1);
				border-radius:4px;
				margin: 0 auto;
				cursor: pointer;
				display: inline-block;
			}
			.paybtn,.cancelbtn{
				margin: 0 40px;
				font-size: 16px;
			}
			.closeTips{
				float: right;
				font-size: 16px;
				border-radius: 18px;
				width: 120px;
				height: 30px;
				line-height: 30px;
			}
			.cancelConfirm,.cancelBack,.cancelSuccess,.cancelError{
				width: 120px;
				margin: 0 40px;
				height: 30px;
				line-height: 30px;
				font-size: 16px;
			}
			/* end */