#main{
	margin-top: 0;
}
.inputBody .flexRow{
	justify-content: center;
}
.forgetTittle{
	width: 1200px;
	height: 60px;
	box-sizing: border-box;
	font-size: 20px;
	color: #4e4f4f;
	line-height: 60px;
	border-bottom: 1px solid #ECECEC;
}
.roundBody{
	position: relative;
	width: 1200px;
	height: 158px;
}
.roundOutside{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: rgba(180,193,198,0.50);
	position: absolute;
	top: 80px;
	left: 302px;
}
.roundInside{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #B4C1C6;
	margin: 3px 0 0 3px;
	z-index: 10;
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.roundActive{
	background: rgba(4,30,91,0.55);
}
.dashedLine{
	width: 100px;
	height: 0;
	border-bottom: 1px dashed #979797;
	position: absolute;
	top: 104px;
	left: 371px;
}
.stepText{
	width: 150px;
	height: 30px;
	font-size: 16px;
	color: #B4C1C6;
	text-align: center;
}
.stepActive{
	color: #041e5b;
}
.liTittle{
	width: 240px;
	line-height: 40px;
	font-size: 14px;
	text-align: right;
	left: -260px;
	position: absolute;
}
.inputBox{
	position: relative;
}
.liInput,.phoneEmailText{
    width: 190px;
    height: 40px;
    border: 1px solid #cecece;
    padding-left: 10px;
    border-radius: 5px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 40px;
}
.nextStep,.nextStep2,.nextStep3,.CompleteBtn{
	width: 267px;
	background: #041E5B;
	border-radius: 2px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-top: 40px;
	line-height: 40px;
	cursor: pointer;
	border-radius: 5px;
}
/*step2*/
.phoneEmailText{
	/* width: 120px; */
	float: left;
	border: none;
}
.liInput{
	width: 267px;
}
.identifyingBtn{
    box-sizing: border-box;
    border: none;
    background: none;
    text-align: center;
    margin-left: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #041E5B;
	font-weight: bolder;
	position: absolute;
	/* right: -100px; */
    top: 10px;
}
.PasswordRuleList{
	padding-top: 30px;
	box-sizing: border-box;
	color: red;
	font-size: 14px;
}
.phone-email-box{
	border: 1px solid #cecece;
	border-radius: 5px;
}
.phone-email-box select{
	border: none;
	height: 20px;
	margin: 10px 0;
	border-right: 1px solid #cecece;
	box-sizing: border-box;
	padding-left: 5px;
    padding-right: 20px;
	width: 75px;
	float: left;
	outline: 0;
	background-position-x: 55px;
}
.numberModifyReminder{
	margin-top: 10px;
    text-align: center;
    color: #8c8c8c;
    font-size: 14px;
}