.pageColor{
	color: #3083FB;
}
/*进度条*/
.progressBar{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #9b9b9b;
}
.progressLine{
	width: 304px;
	height: 2px;
	/*background-color: #3083fb;*/
	margin:24px 0 0 30px;
}
.progressCircle{
	width: 6px;
    height: 6px;
    /*background-color: #3083fb;*/
    margin: 22px 10px 0 0;
    border-radius: 50%;
}
/*.progressActive{
	background-color: #9b9b9b;
}
.progressTextActive{
	color: #9b9b9b;
}*/
/*备注信息*/
.remarkPop{
	width: 592px;
	background-color: #fff;
	z-index: 101;
	position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    /*font-family: PingFangSC-Regular;*/
}
.businessTripTittle,.remarkInfoTittle{
	width: 100%;
	height: 25px;
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 25px;
	font-size: 13px;
	color: #FFFFFF;
	/*background-color: #222;*/
}
.businessTripBody{
	width: 100%;
	min-height: 60px;
}
.businessTripLi{
	width: 100%;
	height: 60px;
}
.tripLiTittle{
	width: 160px;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 20px;
}
.companyRemindTittle{
	text-align: center;
	height: 40px;
	line-height: 40px;
	/*font-family: PingFangSC-Semibold;*/
	font-size: 14px;
	color: #3083FB;
}
.companyRemindText{
	/*font-family: PingFangSC-Regular;*/
	font-size: 13px;
	color: #4A4A4A;
	line-height: 18px;
	width: 200px;
	margin-left: 196px;
	margin-bottom: 10px;
}
.employeeName{
	width: 375px;
	height: 28px;
	box-sizing: border-box;
	padding-left: 105px;
	margin-top: 16px;
	line-height: 28px;
	font-size: 14px;
	border: 1px solid #979797;
}
.chooseCompany{
	width: 375px;
	height: 28px;
	box-sizing: border-box;
	padding-left: 100px;
	outline:none;
	margin-top: 16px;
	border: 1px solid #979797;
	font-size: 14px;
}
.remarkInfoBody{
	width: 100%;
	height: 253px;
	/*padding-bottom: 10px;
	border-bottom: 1px solid #f3f3f3;*/
}
.remarkLi{
	width: 100%;
	height: 28px;
	line-height: 28px;
	color: #4A4A4A;
	border-bottom: 1px solid #979797;
	/*font-family: PingFangSC-Regular;*/
}
.liTittle{
	width: 249px;
	height: 28px;
	border-right: 1px solid #979797;
	box-sizing: border-box;
	padding-left: 20px;
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.colorRed{
	color: #222;
}
.liContent{
	width: 295px;
	height: 28px;
	box-sizing: border-box;
	padding-left: 20px;
	position: relative;
}
.remarkSelect{
	width: 275px;
	height: 25px;
	border: 0;
	outline:none;
	position: absolute;
}
.remarkLiInput{
	width: 260px;
	height: 26px;
	border: 0;
	position: absolute;
	left: 0px;
	padding-left: 20px;
	top: 1px;
	box-sizing: border-box;
	z-index: 200;
	outline: none;
}
.remarkFooter{
	width: 100%;
	height: 70px;
	border-top: 1px solid #979797;
}
.sureRemarkBtn,.closeRemarkBtn{
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	/*background: #3083FB;*/
	border-radius: 4px;
	color: #fff;
	position: relative;
	top: 20px;
	cursor: pointer;
}
/*.closeRemarkBtn{
	background-color: #9b9b9b;
}*/
/*个人信息弹窗*/
.PassengerPop,.newCustomerPop{
	width: 490px;
	background-color: #fff;
	z-index: 101;
	position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    /*font-family: PingFangSC-Regular;*/
}
.passengerPopTittle,.newCustomerPopTittle{
	width: 100%;
	height: 25px;
	box-sizing: border-box;
	padding-left: 50px;
	/*font-family: PingFangSC-Regular;*/
	font-size: 14px;
	color: #FFFFFF;
	background-color: #222;
}
.passengerPopList,.newCustomerPopList{
	min-height: 208px;
}
.passengerBarLi,.passengerLiDiv{
	text-align:center;
	height: 30px;
	line-height: 30px;
	/*font-family: PingFangSC-Medium;*/
	font-size: 13px;
	/*color: #4A4A4A;*/
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.documentsSelect{
	width: 236px;
	height: 25px;
	border: 1px solid #979797;
	border-radius: 2px;
}
.popChooseName{
	width: 400px;
	min-height: 17px;
	line-height: 17px;
	/*font-family: PingFangSC-Medium;*/
	font-size: 12px;
	color: #4A4A4A;
	margin: 10px 0 0 52px;
}
.popNameRadio{
	width: 17px;
	height: 20px;
	margin-right: 5px;
}
.popNameCn,.popNameEn,.popPhone,.popMail,.popDocuments,.popDocumentsTime,.popPhone,.popFrequentFlier,.newCustomerLi,.popPhone12306{
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 50px;
	margin-top: 10px;
}
.popPhoneInput,.popMailInput,.popDocumentsInput,.popFrequentFlierInput,.popDocumentsTimeInput,.newCustomerInput,.popPhone12306Input{
	width: 180px;
	border: 1px solid #979797;
}
.newCustomerHalfInput{
	width: 85px;
	border: 1px solid #979797;
}
.popDocumentsSelect,.popFrequentFlierSelect,.newPopDocumentsSelect{
	width: 90px;
	height: 20px;
	border: 1px solid #979797;
	margin-right: 10px;
}
.passengerPopCancel,.passengerPopBtn,.newCustomerPopCancel,.newCustomerPopBtn{
	width: 114px;
	height: 28px;
	line-height: 28px;
	/*font-family: PingFangSC-Regular;*/
	font-size: 14px;
	color: #FFFFFF;
	background-color: #3083FB;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}
/*订单详情*/
.orderDetail{
	width: 100%;
	min-height: 169px;
	border: 1px solid #222;
}
.orderDetailTittle{
	width: 100%;
	height: 24px;
	/*font-family: PingFangSC-Medium;*/
	font-size: 14px;
	color: #FFFFFF;
	padding-left: 25px;
    box-sizing: border-box;
    line-height: 24px;
    background-color: #222;
}
.orderDetailBody{
	width: 100%;
	height: 146px;
	position: relative;
	border-bottom: 1px solid #C5C3C6;
}
.orderDateStart{
	width: 130px;
	height: 20px;
	line-height: 20px;
	/*font-family: PingFangSC-Semibold;*/
    font-size: 14px;
    color: #222;
	position: absolute;
	left: 25px;
	top: 15px;
}
.orderNewOrder{
	width: 60px;
	height: 20px;
	line-height: 20px;
	/*font-family: PingFangSC-Regular;*/
    font-size: 14px;
    color: #4a4a4a;
	position: absolute;
	left: 154px;
	top: 15px;
	text-decoration: underline;
	cursor: pointer;
}
.orderTrainCode{
	width: 250px;
	height: 20px;
	line-height: 20px;
	/*font-family: PingFangSC-Regular;*/
    font-size: 14px;
    color: #4a4a4a;
	position: absolute;
	left: 25px;
	top: 100px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.orderTimeStart{
	width: 63px;
	height: 33px;
	line-height: 33px;
	/*font-family: PingFangSC-Medium;*/
    font-size: 24px;
    color: #222;
	position: absolute;
	left: 458px;
	top: 42px;
}
.orderArrowIcon{
	width: 77px;
	height: 12px;
	position: absolute;
	left: 531px;
	top: 54px;
	background-image: url('../../css/images/orderArrow.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.orderTimeArrive{
	width: 63px;
	height: 33px;
	line-height: 33px;
	/*font-family: PingFangSC-Medium;*/
    font-size: 24px;
    color: #222;
	position: absolute;
	left: 618px;
	top: 42px;
}
.orderDuration{
	width: 77px;
	height: 18px;
	line-height: 18px;
	/*font-family: PingFangSC-Medium;*/
    font-size: 13px;
    color: #4a4a4a;
	position: absolute;
	left: 531px;
	top: 35px;
	text-align: center;
}
.orderStationDeparte{
	width: 200px;
	height: 18px;
	line-height: 18px;
	/*font-family: PingFangSC-Regular;*/
	font-size: 13px;
	color: #4A4A4A;
	position: absolute;
	left: 319px;
	top: 77px;
	text-align: right;
}
.orderStationArrive{
	width: 200px;
	height: 18px;
	line-height: 18px;
	/*font-family: PingFangSC-Regular;*/
	font-size: 13px;
	color: #4A4A4A;
	position: absolute;
	left: 618px;
	top: 77px;
}
.orderTrainType{
	width: 150px;
	height: 20px;
	line-height: 20px;
	/*font-family: PingFangSC-Regular;*/
    font-size: 14px;
    color: #838183;
	position: absolute;
	left: 820px;
	top: 35px;
}
.orderSeatType{
	width: 160px;
	height: 20px;
	line-height: 20px;
	/*font-family: PingFangSC-Regular;*/
    font-size: 14px;
    color: #838183;
	position: absolute;
	left: 820px;
	top: 57px;
}
.orderLine{
	width: 1px;
	height: 146px;
	position: absolute;
	top: 0;
	left: 980px;
	background-color: #c5c3c6;
}
.orderFareAmount{
	width: 200px;
	height: 20px;
	line-height: 20px;
	/*font-family: PingFangSC-Regular;*/
    font-size: 14px;
    color: #4a4a4a;
	position: absolute;
	left: 985px;
	top: 35px;
}
.orderServiceFare{
	width: 200px;
	height: 20px;
	line-height: 20px;
	/*font-family: PingFangSC-Regular;*/
    font-size: 14px;
    color: #4a4a4a;
	position: absolute;
	left: 985px;
	top: 75px;
}
/*乘客信息*/
.passengerTittle,.seatInfoTittle{
	width: 200px;
	height: 25px;
	line-height: 25px;
	/*font-family: PingFangSC-Semibold;*/
	font-size: 18px;
	color: #404040;
	box-sizing: border-box;
	margin: 25px 0 5px 10px;
}
.passengerBody{
	width: 100%;
	min-height: 68px;
	border: 1px solid #222;
}
.serviceBody{
	min-height: 60px;
}
.choosePassengerBody{
	width: 100%;
	height: 60px;
	line-height: 60px;
	/*font-family: PingFangSC-Semibold;*/
	font-size: 16px;
	/*color: #3083FB;*/
	box-sizing: border-box;
	padding-left: 9px;
	border-bottom: 1px solid #C5C3C6;
	position: relative;
}
.addNewCustomer{
	color: #3083FB;
	margin-left: 420px;
	cursor: pointer;
}
.selectPassengerBody{
	width: 380px;
	height: 32px;
	margin-top: 14px;
	border: 1px solid #3083FB;
    border-radius: 4px;
    position: relative;
}
.selectPassengerInput{
	width: 300px;
	height: 32px;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
}
.selectPassengerArrow{
	width:40px;
	height:32px;
	line-height: 32px;
	position: absolute;
	right: 0;
	top: 0;
	color: #000;
	text-align: center;
	cursor: pointer;
}
.selectPassengerSearch{
	width: 80px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    right: -152px;
    top: 3px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    /*background-color: #3083FB;*/
    border-radius: 10px;
}
.selectPassengerList{
	width: 378px;
	height: 200px;
	position: absolute;
	top: 32px;
	left: 0;
	background-color: #fff;
	border: 1px solid #979797;
	z-index: 10;
	display: none;
}
.selectPassengerListTittle{
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #9b9b9b;
	color: #fff;
}
.selectPassengerLi{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000;
	font-size: 12px;
	cursor: pointer;
}
.selectPassengerLi:hover{
	background-color: #3083FB;
	color: #fff;
}
/*座位信息*/
.seatInfoBody{
	width: 100%;
	min-height: 166px;
	border: 1px solid #222;
}
.seatInfoBodyTittle{
	width: 1100px;
	height: 50px;
	font-size: 14px;
	color: #4a4a4a;
	margin-left: 10px;
	line-height: 50px;
}
.remindIcon{
	width:12px;
	height:12px;
	border-radius:50%;
	background-color:#9b9b9b;
	color:#fff;
	margin:19px 10px 0 10px;
	font-size: 12px;
	text-align: center;
	line-height:12px;
}
.seatRemind{
	color: #000;
}
.seatBody{
	width: 1178px;
	min-height: 100px;
	border:1px solid #979797;
	border-radius: 5px;
	margin-left: 10px;
}
.deaprtureSeat,.returnSeat{
	width: 50%;
	min-height: 100px;
	padding-bottom: 10px;
}
.deaprtureSeat{
	border-right: 1px dashed #979797;
}
.deaprtureSeatTittle,.returnSeatTittle{
	width: 70px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	background-color: #9b9b9b;
	margin: 10px 0 0 10px;
	border-radius: 10px;
}
.deaprtureSeatBody,.returnSeatBody{
	width: 500px;
	height: 50px;
	margin: 10px 0 0 80px;
}
.seatIcon,.seatIcon2{
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: #cdcdcd;
  text-align: center;
}
.iconA{
  background-image: url('../../train/images/A-hui.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.iconB{
  background-image: url('../../train/images/B-hui.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.iconC{
  background-image: url('../../train/images/C-hui.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.iconD{
  background-image: url('../../train/images/D-hui.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.iconF{
  background-image: url('../../train/images/F-hui.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*2020-9-21 候补信息*/
.standByInfo{
	margin-top: 25px;
}
.standByTime{
	height: 30px;
	line-height: 30px;
	font-size: 13px;
}
.standByTimeInput{
	height: 26px;
	border: 1px solid #979797;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 2px 0 0 10px;
	position: relative;
}
.standByRemind{
	font-size: 12px;
	color: #838183;
	margin-top: 10px;
}
.standByDateInput{
	width: 100px;
    height: 24px;
    margin-left: 5px;
	outline: none;
	border: 0;
}
.standByHourSelect{
	width: 70px;
    height: 24px;
    margin-left: 5px;
	outline: none;
	border: 0;
}
.standByInputTittle{
	width: 44px;
    height: 25px;
    margin-top: -0.5px;
    line-height: 25px;
    font-size: 12px;
    color: #666;
    background-color: #ccc;
    text-align: center;
}
/*end*/
/*总价*/
.totalAmount{
	/* width: 230px; */
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	line-height: 50px;
	/* margin:30px 0 0 986px; */
	width: 100%;
	margin:30px 0 0 0;
	text-align: right;
}
.totalAmountText{
	font-size: 20px;
	color:#222;
	margin-left: 73px;
}
/*预定按钮*/
.ricketOutBody{
	width: 180px;
    height: 28px;
    line-height: 28px;
    /*font-family: PingFangSC-Medium;*/
    font-size: 14px;
    color: #3083FB;
    letter-spacing: 0;
    margin-left: 365px;
    position: relative;
}
.ricketOutCheckBox{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 6px;
	left: 0;
}
.bookTicketBody{
	width: 100%;
	height: 28px;
	line-height: 28px;
	margin: 40px 0 54px 0;
}
.bookTicketBtn{
	width: 100px;
	height: 28px;
	line-height: 28px;
	/*background-color: #3083FB;*/
	border-radius: 4px;
	margin-left: 20px;
	/*font-family: PingFangSC-Regular;*/
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.CopyrightBody{
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	/*font-family: PingFangSC-Regular;*/
	font-size: 16px;
	color: #4A4A4A;
	margin-bottom: 22px;
}




/* 火车提醒 */		
#coverCredent{
	position: fixed;
	top: 0;bottom: 0;
	left: 0;right: 0;
	background-color: rgba(0,0,0,0.3);
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	z-index: 100;
}
.credentGroupPop{
	position: relative;
	background-color: #ffffff;
	border-radius: 5px;
	overflow: hidden;
	padding: 0 30px;
	width: 576px;
	/* height: 200px; */
	margin: 0 auto;
	padding-bottom: 20px;
	margin-top: 180px;
	    padding-top: 62px;
}
.closeCredent{
	position: absolute;
	right: 30px;
	top: 0;
	cursor: pointer;
	z-index: 100;
	background-image: url(../../index/images/icon_cha.png);
	height: 48px;
	width: 20px;
	background-size: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.4);
}
.credentTitle{
	height: 50px;
    line-height: 50px;
    text-align: center;
	font-size:18px;
	font-weight:800;
	/* color:rgba(9,75,144,1); */
	
	    position: absolute;
	    color: #FFFFFF;
		background-color: #303030;
	    width: 100%;
	    left: 0;
		top: 0;
}
.credent{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: rgb(51,51,51);
	padding: 8px 0;
	box-sizing: content-box;
}
.credentTips{
	height:22px;
	font-size:16px;
	font-weight:500;
	color:rgba(255,122,0,1);
	line-height:22px;
	margin-top: 12px;
}
.credent span:first-of-type{
	display: inline-block;
	width: 150px;
}
.credent span:nth-of-type(2){
	display: inline-block;
	width: 100px;
	margin: 0 20px;
}
.credent span:last-of-type{
	display: inline-block;
	width: 100px;
	font-weight: 600;
	color: rgba(51,51,51,1);
}
.credentBtnGroup{
	text-align: center;
}
.credentBtnGroup .btn{
	width:220px;
	height:38px;
	border-radius:4px;	
	color: #FFFFFF;
	text-align: center;
	line-height: 38px;
	margin: auto;
	margin-top: 30px;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}
.credentBtn{
	background:#3083FB;
}
.cancelBtn{
	background:#9B9B9B;
}
/* 关闭提示 */
.closeGroupPop{
	width: 650px;
}
.closeBody{
	text-align: center;
	padding: 18px 60px 55px 60px;
}
.closeBtn{
	width: 190px;
	    height: 32px;
	    background: rgba(48,131,251,1);
	    border-radius: 4px;
	    color: #ffffff;
	    line-height: 32px;
	    text-align: center;
	    margin: auto;
		cursor: pointer;
}
.tipsImg{
	    display: inline-block;
	    width: 54px;
	    height: 54px;
	    position: absolute;
}
.tipsImg img{
	position: absolute;
	width: 54px;
	height: 54px;
    top: -15px;
    left: -60px;
}