.a3u{
	background-image: url('../images/airCompanyIcon/airline_3u.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.a3w{
	background-image: url('../images/airCompanyIcon/airline_3w.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.a8l{
	background-image: url('../images/airCompanyIcon/airline_8l.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.a9c{
	background-image: url('../images/airCompanyIcon/airline_9c.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.A6{
	background-image: url('../images/airCompanyIcon/airline_a6.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AA{
	background-image: url('../images/airCompanyIcon/airline_aa.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AC{
	background-image: url('../images/airCompanyIcon/airline_ac.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AF{
	background-image: url('../images/airCompanyIcon/airline_af.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AM{
	background-image: url('../images/airCompanyIcon/airline_am.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AN{
	background-image: url('../images/airCompanyIcon/airline_an.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AS{
	background-image: url('../images/airCompanyIcon/airline_as.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AY{
	background-image: url('../images/airCompanyIcon/airline_ay.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.AZ{
	background-image: url('../images/airCompanyIcon/airline_az.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.BA{
	background-image: url('../images/airCompanyIcon/airline_ba.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.BI{
	background-image: url('../images/airCompanyIcon/airline_bi.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.BK{
	background-image: url('../images/airCompanyIcon/airline_bk.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.BR{
	background-image: url('../images/airCompanyIcon/airline_br.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.CA{
	background-image: url('../images/airCompanyIcon/airline_ca.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.CI{
	background-image: url('../images/airCompanyIcon/airline_ci.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.CN{
	background-image: url('../images/airCompanyIcon/airline_cn.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.CX{
	background-image: url('../images/airCompanyIcon/airline_cx.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.CZ{
	background-image: url('../images/airCompanyIcon/airline_cz.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.DL{
	background-image: url('../images/airCompanyIcon/airline_dl.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.DR{
	background-image: url('../images/airCompanyIcon/airline_dr.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.EK{
	background-image: url('../images/airCompanyIcon/airline_ek.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.EU{
	background-image: url('../images/airCompanyIcon/airline_eu.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.EY{
	background-image: url('../images/airCompanyIcon/airline_ey.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.FM{
	background-image: url('../images/airCompanyIcon/airline_fm.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.FU{
	background-image: url('../images/airCompanyIcon/airline_fu.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.FX{
	background-image: url('../images/airCompanyIcon/airline_fx.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.G5{
	background-image: url('../images/airCompanyIcon/airline_g5.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.GE{
	background-image: url('../images/airCompanyIcon/airline_ge.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.GJ{
	background-image: url('../images/airCompanyIcon/airline_gj.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.GS{
	background-image: url('../images/airCompanyIcon/airline_gs.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.GY{
	background-image: url('../images/airCompanyIcon/airline_gy.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.HA{
	background-image: url('../images/airCompanyIcon/airline_ha.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.HO{
	background-image: url('../images/airCompanyIcon/airline_ho.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.HU{
	background-image: url('../images/airCompanyIcon/airline_hu.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.HX{
	background-image: url('../images/airCompanyIcon/airline_hx.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.IB{
	background-image: url('../images/airCompanyIcon/airline_ib.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.IV{
	background-image: url('../images/airCompanyIcon/airline_iv.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.JD{
	background-image: url('../images/airCompanyIcon/airline_jd.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.JL{
	background-image: url('../images/airCompanyIcon/airline_jl.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.JR{
	background-image: url('../images/airCompanyIcon/airline_jr.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.KA{
	background-image: url('../images/airCompanyIcon/airline_ka.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.KE{
	background-image: url('../images/airCompanyIcon/airline_ke.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.KL{
	background-image: url('../images/airCompanyIcon/airline_kl.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.KN{
	background-image: url('../images/airCompanyIcon/airline_kn.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.KY{
	background-image: url('../images/airCompanyIcon/airline_ky.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.LH{
	background-image: url('../images/airCompanyIcon/airline_lh.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.LX{
	background-image: url('../images/airCompanyIcon/airline_lx.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.MF{
	background-image: url('../images/airCompanyIcon/airline_mf.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.MH{
	background-image: url('../images/airCompanyIcon/airline_mh.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.MU{
	background-image: url('../images/airCompanyIcon/airline_mu.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.MX{
	background-image: url('../images/airCompanyIcon/airline_mx.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.NH{
	background-image: url('../images/airCompanyIcon/airline_nh.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.NS{
	background-image: url('../images/airCompanyIcon/airline_ns.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.NW{
	background-image: url('../images/airCompanyIcon/airline_nw.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.NX{
	background-image: url('../images/airCompanyIcon/airline_nx.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.NZ{
	background-image: url('../images/airCompanyIcon/airline_nz.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.OS{
	background-image: url('../images/airCompanyIcon/airline_os.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.OZ{
	background-image: url('../images/airCompanyIcon/airline_oz.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.PN{
	background-image: url('../images/airCompanyIcon/airline_pn.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.PO{
	background-image: url('../images/airCompanyIcon/airline_po.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.PR{
	background-image: url('../images/airCompanyIcon/airline_pr.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.PS{
	background-image: url('../images/airCompanyIcon/airline_ps.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.QF{
	background-image: url('../images/airCompanyIcon/airline_qf.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.QR{
	background-image: url('../images/airCompanyIcon/airline_qr.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.QW{
	background-image: url('../images/airCompanyIcon/airline_qw.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.RA{
	background-image: url('../images/airCompanyIcon/airline_ra.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.SC{
	background-image: url('../images/airCompanyIcon/airline_sc.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.SK{
	background-image: url('../images/airCompanyIcon/airline_sk.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.SQ{
	background-image: url('../images/airCompanyIcon/airline_sq.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.SR{
	background-image: url('../images/airCompanyIcon/airline_sr.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.SU{
	background-image: url('../images/airCompanyIcon/airline_su.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.TG{
	background-image: url('../images/airCompanyIcon/airline_tg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.TK{
	background-image: url('../images/airCompanyIcon/airline_tk.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.TV{
	background-image: url('../images/airCompanyIcon/airline_tv.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.UA{
	background-image: url('../images/airCompanyIcon/airline_ua.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.VA{
	background-image: url('../images/airCompanyIcon/airline_va.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.VN{
	background-image: url('../images/airCompanyIcon/airline_vn.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.VS{
	background-image: url('../images/airCompanyIcon/airline_vs.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.WH{
	background-image: url('../images/airCompanyIcon/airline_wh.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.XW{
	background-image: url('../images/airCompanyIcon/airline_xw.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.Y8{
	background-image: url('../images/airCompanyIcon/airline_y8.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.ZH{
	background-image: url('../images/airCompanyIcon/airline_zh.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}